<!DOCTYPE html><!-- This is a valid HTML5 document. -->
<!-- Screen readers, SEO, extensions and so on. -->
<html lang="en">
  <head>
    <!-- Has to be within the first 1024 bytes, hence before the `title` element
    See: https://www.w3.org/TR/2012/CR-html5-20121217/document-metadata.html#charset -->
    <meta charset="utf-8">
    <!-- Why no `X-UA-Compatible` meta: https://stackoverflow.com/a/6771584 -->
    <!-- The viewport meta is quite crowded and we are responsible for that.
    See: https://codepen.io/tigt/post/meta-viewport-for-2015 -->
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <!-- Required to make a valid HTML5 document. -->
    <title>Leaflet WebComponents</title>
    <meta name="description" content="">
    <link rel="icon" href="data:;base64,iVBORw0KGgo=">
    <link rel="stylesheet" href="{{ base_url }}static/vendors/picocss-pico.conditional.2.0.6.css" />
    <style type="text/css">
      main {
        margin: 2rem auto;
        max-width: 800px;
      }
      hgroup {
        text-align: center;
      }
    </style>
    {% block extra_head %}
    {% endblock extra_head %}
  </head>
  <body>
    <main>
      <div class="pico">
        <hgroup>
          <h1>Leaflet WebComponents with a11y</h1>
          <h2>
            Check out the source code of that page!
            (<a href="https://gitlab.com/umap-project/leaflet-webcomponents/">repository</a>)
          </h2>
        </hgroup>
      </div>
      {% block content %}
      {% endblock content %}
    </main>
    {% block extra_body %}{% endblock extra_body %}
  </body>
</html>
