{% extends "base.html" %}

{% block content %}
  <leaflet-map data-height="400px" data-width="800px">
    <p>
      This is a map centered on Ottawa (<span data-latitude>45.4209</span>, <span data-longitude>-75.6901</span>)
      with a zoom of <span data-zoom>{{ zoom }}</span>.
    </p>
    <p>It contains the following elements:</p>
    <ul>
      <li is="leaflet-marker">
        A marker is positioned at (<span data-latitude>43.0842</span>, <span data-longitude>-79.0693</span>)
        with label <span data-label>Niagara Falls</span>.
      </li>
      <li is="leaflet-marker">
        A marker is positioned at (<span data-latitude>46.8908</span>, <span data-longitude>-71.1477</span>)
        with label <span data-label>Montmorency Falls</span>.
      </li>
      {% for marker in markers %}
        <li is="leaflet-marker">
          A marker is positioned at (<span data-latitude>{{ marker.lat }}</span>, <span data-longitude>{{ marker.lng }}</span>)
          with label <span data-label>{{ marker.label }}</span>.
        </li>
      {% endfor %}
    </ul>
    <table is="leaflet-table" class="striped"></table>
  </leaflet-map>
{% endblock content %}

{% block extra_body %}
<script type="module">
  import * as L from '{{ base_url }}static/vendors/leaflet.1.9.4.js'

  L.Icon.Default.prototype.options.iconUrl = '{{ base_url }}static/vendors/marker-icon.png'
  L.Icon.Default.prototype.options.iconRetinaUrl = '{{ base_url }}static/vendors/marker-icon-2x.png'
  L.Icon.Default.prototype.options.shadowUrl = '{{ base_url }}static/vendors/marker-shadow.png'

  import {LeafletMap, LeafletTable, LeafletMarker, register} from '{{ base_url }}static/leaflet-webcomponents.js'

  register(LeafletMap, 'leaflet-map')
  register(LeafletTable, 'leaflet-table')
  register(LeafletMarker, 'leaflet-marker')
</script>
{% endblock extra_body %}
